html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
	color: #1a1212;
	background: rgb(22, 20, 21);
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(180, 65, 76);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color:rgb(134, 119, 122);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


:root {
    --highlight-color: rgb(253, 53, 53);
}

.kurshok {
    display: inline-block;
    font-size: 1.45em;
    font-weight: 800;
    color: var(--highlight-color);
    padding: .2em .4em;
}

.breathing-circle {
    position: relative;
    display: inline-block;
    top: -.25em;
    width: .5em;
    height: .5em;
    margin-left: 1em;
    border-radius: 100%;
    background: #fff;
    filter: blur(1);
    animation: breathing-circle 4s ease-in-out infinite;
}

@keyframes breathing-circle {
    0% {
        transform: scale(.05, .05);
        background: var(--highlight-color);
        opacity: .7;
    }
    50% {
        transform: scale(2, 2);
        background: rgba(255, 255, 255, 0.69);
        filter: blur(4) drop-shadow(0 0 6px rgba(48, 23, 23, 0.5));
    }
    100% {
        transform: scale(.05, .05);
        background: var(--highlight-color);
        opacity: .7;
    }
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    margin: 0 auto;
    text-align: center;
    padding: .75em;
}

main > * {
 display: inline-flex;
 margin: .5em .5em;
}

section.books {
    display: inline-block;
    background: rgb(28, 24, 26);
    max-width: fit-content;
    padding: 1em 1.5em;
    min-height: 2cm;
}

section.books img {
    max-width: 240px;
    margin: .5em 1em;
    margin-bottom: .5em;
    box-shadow: 0 2px 5px -1px rgba(31, 18, 18, 0.541), 0 1px 3px -1px rgba(49, 39, 39, 0.541);
    border-bottom: 1px solid rgba(110, 110, 100, .1);
    transition: all 240ms ease-in;
    animation: book-img 8s ease-in-out infinite;
}

@keyframes book-img {
    0% {
        transform: scale(1, 1);        
    }
    50% {
        transform: scale(.97, .97);
        filter: drop-shadow(0 2px 6px rgba(26, 2, 2, 0.3));
    }
    100% {
        transform: scale(1, 1);
    }
}

section.books img:hover {
    filter: drop-shadow(0 0 6px rgba(48, 23, 23, 0.5));
    animation: none;
    scale: 1.1;
}

section.thoughts {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 99vw;
    margin: .5em auto;
    padding: .5em;
    min-height: 2cm;
}

main > section > header {
    color: #ccc;
    text-shadow: 0 1px 2px rgba(91, 51, 51, 0.4);
    font-size: 1.2em;
    padding-bottom: .5em;
}

.toast {
    position: fixed;
    top: 1vh;
    right: 1vw;
    background: #fff;
    border-radius: 4px;
    padding: .5em;
    cursor: pointer;
    box-shadow: 0 0 3px rgb(207, 32, 32, .2);
    border-left: .5em solid rgb(119, 125, 134);
}

.toast.error {
    border-left: .5em solid rgb(253, 53, 53);
}

.toast.warn {
    border-left: .5em solid rgb(253, 216, 53);
}

div.spacer {
    position: relative;
    display: block;
    width: 100%;
    margin: .45em .45em;
    padding: .2em;
}

section.thoughts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 33vw;
    min-width: 333px;
    margin: .25em .25em;
    padding: .25em;
    padding-top: .7em;
    min-height: 2cm;
    background: rgb(40, 29, 29);
}

section.thoughts .thought {
    display: inline-flex;
    flex-flow: row wrap;
    background: hsla(345, 10%, 8%, 0.8);
    color: rgb(172, 127, 119);
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: .05em 0 .05em 0;
    padding: .1em .5em;
    border-left: 1px solid rgba(74, 38, 38, 0.2);
    border-right: 1px solid rgba(74, 38, 38, 0.2);
    min-height: 1cm;
    font-size: 1.08em;
    line-height: 1.1;
    text-shadow: 0 .5em 3em -1em rgb(207, 32, 32, .2);
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, .2);
    transform: scale(0.9);
    transition: all 420ms ease-in;
}

section.thoughts .thought:first-of-type {
    margin-top: -1.5em;
}

section.thoughts .thought:hover, section.thoughts .thought:focus {
    transform: scale(1);
    background: rgb(105, 76, 76);
    color: rgb(225, 215, 215);
}

footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 92vw;
    margin: .5em auto .5em auto;
    margin-bottom: 1.45em;
    text-shadow: 0 1px 2px rgba(117, 80, 80, 0.4), 0 -1px 2px rgba(235, 49, 49, 0.1);
    color: rgb(149, 117, 124);
    padding: .5em;
    background: rgba(40, 29, 29, 0.86);
    border-left: 1px solid rgba(218, 199, 199, 0.2);
    border-right: 1px solid rgba(218, 199, 199, 0.2);
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, .22);
    transition: all 260ms ease-in;
}

footer:hover {
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, .22), 0 .3em .7em hsla(0, 57%, 41%, 0.15), 0 .1em .5em hsla(0, 8%, 59%, 0.1);
}

.footer-section {
    font-size: .8em;
    display: inline-block;
    padding: .5em .5em;
    margin: .5em;
    border: .1em solid rgba(83, 18, 18, 0.25);
    background: rgba(62, 48, 48, 0.819);
    border-radius: .25em;
    max-width: fit-content;
    transition: all 240ms ease-in;
    font-weight: 600;
}

.footer-section:hover {
    border: .1em solid rgba(165, 68, 68, 0.766);
}

.footer-section>header {
    margin-left: .4em;
    max-width: 95%;
    font-size: 1em;
    white-space: nowrap;
}

header {
    max-width: 80%;
    font-weight: bold;
    margin: .25em auto .25em auto;
    padding-bottom: .25em;
}

.footer-section>div {
    margin-left: .8em;
    margin-bottom: .25em;
}

.footer-section>div:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 640px) {
    main {
        max-width: none;
    }
}

iframe[src="https://kurshok-api.fly.dev/tell"] {
    filter: drop-shadow(0 .3em 1em hsla(0, 79%, 58%, 0.25));
    width: 345px;
    min-height: 230px;
    transition: all 160ms ease-in;
}

.mouseboard {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    max-width: 220px;
    border-radius: 6px;
    background: rgba(137, 136, 136, 0.541);
}

.mouseboard .output {
    border-radius: 4px;
    padding: .12em .24em;
    margin: .12em;
    background: #fff;
    filter: drop-shadow(0 1px 3px rgba(0,0,0,.12));
}

.mouseboard .letters {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
}

.mouseboard .letters span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    margin: .1em .05em;
    padding: 0 .22em;
    border-radius: 4px;
    background: #fff;
    filter: drop-shadow(0 1px 3px rgba(0,0,0,.12));
    cursor: grabbing;
    user-select: none;
}


.mouseboard .letters span:hover {
    transform: scale(1.25);
}

.short-ideas {
    display: inline-flex;
    justify-content: space-around;
    align-items: space-between;
    align-content: flex-start;
    flex-flow: row wrap;
    margin: .5em .5em;
    padding: .5em .5em;
    padding-bottom: 1em;
    background: rgb(53, 38, 38);
    max-width: 60pc;
    max-height: 700px;
    overflow: scroll;
    overflow-x: hidden;
    line-height: 1;
    border-radius: 2px;
    transition: all 130ms ease-in;
    z-index: 3;
}

.small-idea {
    display: inline-block;
    margin: .5em .5em;
    padding: .5em .5em;
    max-width: 200px;
    line-height: 1;
    transition: all 100ms ease-in;
    animation: fade-in 750ms ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        filter: brightness(.5); 
    }
    100% {
        opacity: 1;
        filter: brightness(1); 
    }
}

.small-idea > span {
    display: inline-block;
    margin: .25em .5em;
    font-size: 1.1em;
    max-width: 166px;
    line-height: 1;
}

.small-idea > header {
    display: block;
    color: rgb(97, 68, 68);
    width: 100%;
    transition: all 130ms ease-in;
}

.small-idea:hover > header {
    color: rgb(255, 255, 255);
}

.small-idea:hover {
    scale: 1.5;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 .3em .5em hsla(0, 30%, 1%, .13));
}