
:root {
    --highlight-color: rgb(253, 53, 53);
    --theme-color: rgba(63, 52, 52, 0.86);
}

html, body {
	position: relative;
	overflow-x: hidden;
}

body {
	display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
	color: #1a1212;
	background: rgb(22, 20, 21);
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(180, 65, 76);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color:rgb(134, 119, 122);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.kurshok {
    display: inline-block;
    font-size: 1.45em;
    font-weight: 800;
    color: var(--highlight-color);
    padding: .1em .4em;
}

.breathing-circle {
    position: relative;
    display: inline-block;
    top: -.25em;
    width: .5em;
    height: .5em;
    margin-left: 1em;
    border-radius: 100%;
    background: #fff;
    filter: blur(1);
    animation: breathing-circle 4s ease-in-out infinite;
}

@keyframes breathing-circle {
    0% {
        transform: scale(.05, .05);
        background: var(--highlight-color);
        opacity: .7;
    }
    50% {
        transform: scale(2, 2);
        background: rgba(255, 255, 255, 0.69);
        filter: blur(4) drop-shadow(0 0 6px rgba(48, 23, 23, 0.5));
    }
    100% {
        transform: scale(.05, .05);
        background: var(--highlight-color);
        opacity: .7;
    }
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    margin: 0 auto;
    text-align: center;
    padding: .2em;
}

main > * {
 display: inline-flex;
 margin: .5em .5em;
}

main > section > header {
    color: #ccc;
    text-shadow: 0 1px 2px rgba(91, 51, 51, 0.4);
    font-weight: 600;
    padding-bottom: .25em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.toast {
    position: fixed;
    top: 1vh;
    right: 1vw;
    background: #fff;
    border-radius: 4px;
    padding: .5em;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(207, 32, 32, .2);
    border-left: .5em solid rgb(119, 125, 134);
}

.toast.error {
    border-left: .5em solid rgb(253, 53, 53);
}

.toast.warn {
    border-left: .5em solid rgb(253, 216, 53);
}

div.spacer {
    position: relative;
    display: block;
    width: 100%;
    margin: .45em .45em;
    padding: .2em;
    pointer-events: none;
}

section.books {
    display: inline-block;
    background: rgb(28, 24, 26);
    max-width: fit-content;
    padding: 1em 1.5em;
    min-height: 2cm;
}

section.books img {
    max-width: 240px;
    margin: .5em 1em;
    margin-bottom: .5em;
    box-shadow: 0 2px 5px -1px rgba(31, 18, 18, 0.541), 0 1px 3px -1px rgba(49, 39, 39, 0.541);
    border-bottom: 1px solid rgba(110, 110, 100, .1);
    transition: all 240ms ease-in;
    animation: book-img 8s ease-in-out infinite;
}

@keyframes book-img {
    0% {
        transform: scale(1, 1);        
    }
    50% {
        transform: scale(.97, .97);
        filter: drop-shadow(0 2px 6px rgba(26, 2, 2, 0.3));
    }
    100% {
        transform: scale(1, 1);
    }
}

section.books img:hover {
    filter: drop-shadow(0 0 6px rgba(48, 23, 23, 0.5));
    animation: none;
    scale: 1.1;
}

section.thoughts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 440px;
    max-height: 10cm;
    margin: .2em auto;
    padding-top: .1em;
    overflow: auto;
    background: var(--theme-color);
  }
  
  section.thoughts .thought {
    position: relative;
    display: inline-flex;
    flex-flow: row wrap;
    background: hsla(0, 5%, 2%,.8);
    color: rgb(106, 84, 83);
    align-items: center;
    align-content: center;
    margin: .02em 0 .02em 0;
    padding: .3em .2em;
    border-left: 1px solid rgba(74, 38, 38, 0.2);
    border-right: 1px solid rgba(74, 38, 38, 0.2);
    border-radius: 4px;
    min-height: 1cm;
    font-size: 1.1em;
    line-height: 1;
    text-shadow: 0 .5em 3em -1em rgba(207, 32, 32, .2);
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, .2);
    transform: scale(.95);
    transition: all 420ms ease-in;
  }
  

section.thoughts .thought:first-of-type {
    margin-top: -1.5em;
}

section.thoughts .thought:hover, section.thoughts .thought:focus {
    transform: scale(1);
    background: rgb(81, 65, 65);
    color: rgb(225, 215, 215);
    box-shadow: 0 0 3px rgba(113, 18, 18, 0.065);
}

footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 92vw;
    margin: .5em auto .5em auto;
    margin-bottom: 1.45em;
    text-shadow: 0 1px 2px rgba(117, 80, 80, 0.4), 0 -1px 2px rgba(235, 49, 49, 0.1);
    color: rgba(156, 130, 132, 0.945);
    padding: .5em;
    background: var(--theme-color);
    border-left: 1px solid rgba(218, 199, 199, 0.2);
    border-right: 1px solid rgba(218, 199, 199, 0.2);
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, .22);
    transition: all 260ms ease-in;
}

footer:hover {
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, .22), 0 .3em .7em hsla(0, 57%, 41%, 0.15), 0 .1em .5em hsla(0, 8%, 59%, 0.1);
}

footer>section {
    font-size: .8em;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-flow: column wrap;
    padding: .5em .5em;
    margin: .5em;
    border: .1em solid rgba(83, 18, 18, 0.25);
    background: rgba(68, 58, 58, 0.819);
    border-radius: .25em;
    transition: all 240ms ease-in;
    font-weight: 600;
    max-width: 360px;
}

footer>section:hover {
    border: .1em solid rgba(165, 68, 68, 0.766);
}

footer>section>header {
    margin-left: .4em;
    width: 100%;
    font-size: 1.08em;
    white-space: nowrap;
}

footer>section>header::after {
    content: ":";
    display: inline-block;
    color: #eebcbca4;
}

footer .doodles {
    flex-flow: row wrap;
}

footer .doodles a {
    background: #5e5252;
    color:#ddd;
}

footer>section a {
    margin: .15em;
    border-radius: 4px;
    transition: 120ms ease-in;
    padding: .25em;
}

footer>section>a img {
    filter: invert(100);
}

footer>section a:hover {
    background: #cbb3b3c4;
    color: #1a1212;
}

footer>section a:hover img {
    filter: invert(0);
}

footer>section a, footer>section > div {
    display: inline-flex;
    align-items: center;
    align-content: space-evenly;
    flex-flow: row wrap;
}

footer>section a > img:not(a:last-child) {
    margin: 0 .35em 0 0;
}

footer>section>div {
    margin: 0 .1em .1em .1em;
}

iframe[src="https://kurshok-api.fly.dev/tell"] {
    filter: drop-shadow(0 .3em 1em hsla(0, 84%, 58%, 0.2));
    width: 345px;
    min-height: 230px;
    transition: all 160ms ease-in;
}

.short-ideas {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-flow: row wrap;
    margin: .2em 0;
    padding: .9em;
    background: var(--theme-color);
    max-width: 720px;
    max-height: 12cm;
    overflow-y: scroll;
    overflow-x: visible;
    line-height: 1;
    border-radius: 2px;
    transition: all 120ms ease-in;
    z-index: 3;
}

.small-idea {
    display: inline-block;
    align-self: center;
    margin: .1em .1em;
    padding: .12em;
    max-width: 200px;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    transition: all 210ms ease-in;
    animation: fade-in 840ms ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        filter: brightness(.5); 
    }
    100% {
        opacity: 1;
        filter: brightness(1); 
    }
}

.small-idea:last-of-type {
    margin-bottom: 1em;
}

.small-idea > span {
    display: inline-block;
    font-size: 1em;
    max-width: 100%;
    line-height: 1;
    color:hsla(0, 0%, 0%, .9);
}

.small-idea > header {
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    color: rgba(110, 89, 88, .9);
    width: 100%;
    margin: 0 0 0 0;
    transition: all 120ms ease-in;
}

.small-idea:hover > header {
    color: rgba(234, 186, 186, 0.957);
}

.small-idea:hover > span {
    color: rgb(255, 255, 255);
}

.small-idea:hover {
    scale: 1.34;
    color: rgb(255, 255, 255) !important;
    filter: drop-shadow(0 .3em .5em hsla(0, 30%, 1%, .13));
    text-shadow: 0 1px 3px rgba(24, 23, 23, 0.1);
}

@media (min-width: 640px) {
    main {
        max-width: none;
    }

}

@media (max-width: 640px) {
    .small-idea {
        font-size: 0.92em;
        max-width: 146px;
    }

    .small-idea:hover {
        scale: 1.3;
        color: rgb(255, 255, 255) !important;
        filter: drop-shadow(0 .3em .5em hsla(0, 30%, 1%, .13));
        text-shadow: 0 1px 3px rgba(24, 23, 23, 0.1);
    }
}

@media (max-width: 700px) {
    .small-idea {
        font-size: 0.96em;
        max-width: 155px;
    }

    .small-idea:hover {
        scale: 1.4;
        color: rgb(255, 255, 255) !important;
        filter: drop-shadow(0 .3em .5em hsla(0, 30%, 1%, .13));
        text-shadow: 0 1px 3px rgba(24, 23, 23, 0.1);
    }
}